.answers{
    &__info,
    &__link-information{
        font-family: "Museo Sans Cyrl",sans-serif;
        font-style: normal;
        font-weight: 250;
        font-size: 18px;
        line-height: 30px;
        color: #333333;
    }
    &__list-information{
        margin-top: 48px;
        margin-bottom: 76px;
    }
    &__item-information{
        margin-bottom: 20px;
    }
    .accordion{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        .a-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #956D84;
            .a-btn{
                font-family: "Museo Sans Cyrl",sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 18px;
                margin: 0;
                position: relative;
                padding: 30px 65px;
                width: 100%;
                color: #fff;
                display: block;
                font-weight: 700;
                text-align: left;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                border-radius: 5px;
                span{
                    position: absolute;
                    right: 40px;
                    top: 30px;
                    background-color: transparent;
                    &:before{
                        content: url(/images/arrow-bottom.svg);
                        position: absolute;
                        transition: all 0.3s ease-in-out;
                        background-color: transparent;
                        transform: rotate(180deg);
                    }
                    &::after{
                        background-color: transparent;
                    }
                }
            }
            .a-panel{
                width: 100%;   
                transition: all 0.2s ease-in-out;
                opacity: 0;
                height: auto;
                max-height: 0;
                overflow: hidden;
                padding: 0px 10px;
                background-color: #fff;
            }
            &.active{
                .a-btn{
                    color: #fff;
                    span{
                        &::before{
                            transform: rotate(360deg);
                        }
                    }
                }
                .a-panel{               
                    padding: 15px 10px 10px 10px;
                    opacity: 1;
                    max-height: 500px;              
                }
            }
        }
    }
    &__desktop{
        display: none;
    }
}