.filter{
    width: 100%;
    margin-bottom: 53px;
    &__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item:nth-child(1),
    &__item:nth-child(2){
        margin-right: 41px;
    }
    &__item:last-child{
        margin-left: auto;
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__select{
        font-family: "Museo Sans Cyrl",sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    &__title{
        font-family: "Museo Sans Cyrl",sans-serif;
        font-weight: 250;
        font-size: 18px;
        line-height: 18px;
        margin-right: 15px;
        color: #828282;
        color: #333;
    }
}