.flower-shop{
    &__list1{
        float: left;
        margin-right: 41px;
        display: grid;
        grid-template-columns: 302px 260px;
        grid-template-rows: repeat(2, 275px);
        row-gap: 30px;
        column-gap: 19px;
        margin-bottom: 40px;
    }
    &__item:last-child{
        grid-column: 2 / 3;
    }
    &__img{
        height: auto;
        max-width: 100%;
    }
    &__list2{
        float: right;
        display: grid;
        grid-template-columns: 302px 260px;
        grid-template-rows: repeat(2, 275px);
        row-gap: 30px;
        column-gap: 19px;
        margin-bottom: 40px;
        margin-left: 41px;
    }
    &__text{
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 250;
        font-size: 16px;
        line-height: 30px;
        color: #333;
        margin-bottom: 40px;
    }
    &__circle{
        position: relative;
        margin-bottom: 10px;
        margin-left: 37px;
    }
    &__circle::before{
        content: " ";
        display: block;
        background-color: #956D84;
        position: absolute;
        left: -40px;
        top: 8px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    &__subtitle{
        font-family: "Museo Sans Cyrl",sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 40px;
        color: #956D84;
        margin-top: 60px;
    }
}
@media (max-width:900px) {
    .flower-shop{
        &__list1,
        &__list2{
            float: none;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        &__list1,
        &__list2{
            display: grid;
            grid-template-columns: 260px;
            grid-template-rows: 500px repeat(2, 275px);
            max-width: 260px;
        }
        &__item:nth-child(2){
            grid-row: 2/3;
            grid-column: 1 / 2;
        }
        &__item:first-child{
            grid-row: 1/2;
            grid-column: 1 / 2;
        }
        &__item:last-child{
            grid-row: 3/4;
            grid-column: 1 / 2;
        }
        &__input{
            width: 400px;
        }
    }
}