.footer-bottom{
        padding-bottom: 41px;
        margin-top: 15px;
    &__title-copyright{
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
    }
    &__payment{
        display: flex;
        margin-left: auto;
        align-items: center;
    }
    &__list-payment{
        display: flex;
        gap: 28px;
        margin-left: 38px;
        flex-wrap: wrap;
    }
    &__item-payment{
        align-self: center;
    }
    &__title-payment{
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
    }
    &__link-payment{
        display: block;
    }
}
@media (max-width:925px) {
    .footer-bottom{
        &__container{
            text-align: center;
            flex-direction: column;
            align-self: center;
            align-items: center;
        }
        &__payment{
            width: 100%;
            margin-top: 20px;
        }
        &__list-payment{
            width: 100%;
            justify-content: space-between;
        }
    }
    
}