.main-basket{
    &__container{
        align-items: flex-start;
        flex-direction: column;
    }
    &__blocks{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}