.main-card{
    margin-bottom: 176px;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__block{
        margin-top: 41px;
        display: flex;
    }
}