.purchases{
    display: flex;
    margin-top: 99px;
    justify-content: space-between;
    &__characteristics-list{
        max-width: 979px;
        display: flex;
        justify-content: space-between;
        padding-left: 168px;
        padding-right: 155px;
    }
    &__characteristics-item:nth-child(2){
        margin-left: 182px;
    }
    &__characteristics-item:nth-child(3){
        margin-left: 119px;
    }
    &__characteristics-item:nth-child(4){
        margin-left: 109px;
    }
    &__characteristics-name{
        font-family: "Museo Sans Cyrl",sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #BDBDBD;
    }
    &__number {
        position: relative;
        width: 105px;
    }
    &__number input[type="number"] {
        font-family: "Euclid Circular B",sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        display: block;
        height: 42px;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
        border: 1px solid #956D84;
    }
    .number input[type="number"]::-webkit-outer-spin-button,
    .number input[type="number"]::-webkit-inner-spin-button {
        display: none;
    }
    .number input[type="number"]{
        width: 94px;
    }
    &__number-minus {
        position: absolute;
        top: 0px;
        bottom: 1px;
        width: 24px;
        padding: 0;
        display: block;
        text-align: center;
        border: none;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        height: 42px;
    }
    &__minus-img{
        position: absolute;
        top: 15px;
        left: 12px;
        transform: rotate(180deg);
    }
    &__plus-img{
        position: absolute;
        top: 15px;
        right: 12px;
    }
    &__number-plus {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 1px;
        width: 34px;
        padding: 0;
        display: block;
        text-align: center;
        border: none;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        height: 42px;
    }
    &__product-list{
        display: flex;
        flex-direction: column;
        max-width: 979px;
        margin-top: 11px;
        gap: 15px;
    }
    &__product-item{
        display:flex;
        align-items: center;
        align-content: center;
        border: solid 1px #956D84;
        padding: 26px 30px
    }
    &__product-title{
        margin-left: 67px;
        font-family: "Museo Sans Cyrl",sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #333;
    }
    &__product{
        margin-left: 96px;
    }
    &__number{
        margin-left: 120px;
        width: 94px;
        height: 42px;
    }
    &__product-total{
        margin-left: 86px;
        font-family: "Museo Sans Cyrl",sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #333;
    }
    &__product-svg{
        margin-left: 49px;
        display: flex;
    }
    &__product-svg-delete{
        
        margin-right: 22px;
    }
    &__product-price-new{
        font-family: "Museo Sans Cyrl",sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #333;
    }
    &__product-price-old{
        font-family: "Museo Sans Cyrl",sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: line-through;
        color: #BDBDBD;
    }
    &__order{
        width: 415px;
        margin-left: auto;
    }
    &__order-link{
        font-family: "Euclid Circular B", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        text-align: end;
        text-decoration-line: underline;
        color: #BDBDBD;
        margin-bottom: 11px;
    }
    &__your-order{
        border: 1px solid #956D84;
        padding: 55px 83px 31px 71px;
    }
    &__your-order-price{
        margin-bottom: 32px;
    }
    &__your-order-title{
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        color: #956D84;
        letter-spacing: -0.025em;
        margin-bottom: 70px;
    }
    &__your-order-product,
    &__your-order-discount{
        display: flex;
        justify-content: space-between;
    }
    &__your-order-product-title,
    &__your-order-discount-title{
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #BDBDBD;
        margin-bottom: 32px;
    }
    &__your-order-discount-price,
    &__your-order-product-price{
        font-family: "Museo Sans Cyrl", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #333;
    }
    &__your-order-result{
        display: flex;
        justify-content: space-between;
        margin-bottom: 63px;
    }
    &__result-title{
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 18px;
        color: #333;
    }
    &__result-price{
        font-family: "Museo Sans Cyrl", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 18px;
        color: #333;
    }
    &__arrange{
        display: block;
        background: #956D84;
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        font-family: "Euclid Circular B", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__arrange-link{
        padding: 22px 46px;
        color: #fff;
    }
}
@media (max-width:1439px) {
    .purchases{
        flex-direction: column;
        margin: 99px auto;
        &__order{
            width: 675px;
            margin: 20px auto;
        }
        &__characteristics-list{
            display: none;
        }
        &__product-title{
            margin-left: 5px;
        }
        &__product{
            margin-left: 15px;
        }
        &__product-list{
            margin-top: 0px;
        }
        &__number{
            margin-left: 15px;
        }
        &__product-total{
            margin-left: 15px;
        }
        &__product-svg-delete{
            margin-left: 15px;
        }
    }
}
@media (max-width:700px) {
    .purchases{
        &__order{
            width: auto;
            margin: 20px auto;
        }
        &__product-title{
            margin-left: 0px;
            font-size: 12px;
            line-height: 18px;
        }
        &__product{
            display: none;
        }
        &__number{
            margin-left: -63px;

        }
        &__product-total{
            margin-left: 0px;
            margin-bottom: 12px;
            min-width: 53px;
            order: 2;
        }
        &__product-svg{
            margin-left: 0px;
            order: 1;
        }
        &__product-svg-delete{
            margin-left: 0px;
        }
        
        &__product-item{
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            flex-direction: column;
            height: 104px;
            flex-wrap: wrap;
            padding: 15px 14px;
        }
        &__product-img{
            width: 55px;
            height: 72px;
        }
        &__number{
            width: 70px;
        }
    }
}
@media (max-width:440px) {
    .purchases{
        margin-bottom: 50px;
        &__products{
            margin: 20px auto;
        }
        margin: 30px auto;
        &__product-list{
            width: 300px;
        }
        &__your-order{
            border: 1px solid #956D84;
            padding: 30px 16px 30px 16px;
        }
        &__your-order-title{
            font-size: 24px;
            line-height: 18px;
            margin-bottom: 30px;
        }
    }
}