.catalog{
    margin-bottom: 100px;
    width: 100%;
    &__title{
        text-align: center;
        font-family: "Museo Sans Cyrl",sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: #333;
    }
}
@media (max-width:1342px){
    .catalog{
        margin-bottom: 50px;
    } 
}
@media (max-width:600px) {
    .catalog{
        &__title{
            font-size: 20px;
            line-height: 25px;
        }
    }
}