.video-reports{
    &__list{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__item{
        font-family: "Museo Sans Cyrl",sans-serif;
        align-items: center;
        align-content: center;
        text-align: center;
        max-width: 339px;
        background-color: #956D84;
        color: white;
        padding: 0px 9px;
        margin-top: 150px;
    }
    &__img{
        margin-top: -150px;
        width: 100%;
        height: auto;
    }
    &__date{
        text-align: start;
        margin-top: 17px;
        font-weight: 250;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-weight: 300;
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    &__link{
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #fff;
        margin-bottom: 25px;
    }
}