@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@font-face {
    font-family: "Euclid Circular B";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/EuclidCircularB/EuclidCircularB-Regular.woff2") format("woff2");
    font-display: swap;
  }
@font-face {
    font-family: "Euclid Circular B";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/EuclidCircularB/EuclidCircularB-Medium.woff2") format("woff2");
    font-display: swap;
    }
@font-face {
    font-family: "Euclid Circular B";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/EuclidCircularB/EuclidCircularB-SemiBold.woff2") format("woff2");
    font-display: swap;
    }
@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/museosanscyrl/museosanscyrl-100.woff2") format("woff2");
    font-display: swap;
    }
@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/museosanscyrl/museosanscyrl-300.woff2") format("woff2");
    font-display: swap;
    }
@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/museosanscyrl/museosanscyrl-900.woff2") format("woff2");
    font-display: swap;
    }
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }
.container{
    display: flex;
    max-width: 1451px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    align-self: center;
    }
ul{
    list-style-type: none;
    }
a{
    display: block;
    text-decoration: none;
}
select{
    cursor: pointer;
    border: none;
}
.btn{
    border: none;
    background-color: transparent;
    cursor: pointer
}
img{
    display: block;
}
.swiper {
    max-width: 100%;
    height: 1105px;
}
.footer{
    background-color:#333333; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-catalog{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
    &__blocks{
        display: flex;
        width: 100%;
    }
    &__right-block{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1060px;
        margin-left: auto
    }
}
@import "./components/header-top";
@import "./components/header-bottom";
@import "./components/banner";
@import "./components/offer";
@import "./components/stock-card";
@import "./components/sale-card";
@import "./components/present-card";
@import "./components/forum";
@import "./components/map";
@import "./components/footer-top";
@import "./components/footer-bottom";
@import "./components/breadcrumbs-catalog";
@import "./components/title-catalog";
@import "./components/category";
@import "./components/filter";
@import "./components/cards";
@import "./components/button-more";
@import "./components/pagination";
@import "./components/descr";
